.bod-style {
    background: linear-gradient(to right, #a8edea, #fed6e3); /* Vibrant gradient background */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure it covers the full height */
    width: 100%; /* Full width */
  }
  
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* margin-top: 80px; */
  }
  
  .loader-icon {
    height: 120px;
    margin-bottom: 10px;
  }
  
  .para-style {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .span-style {
    display: inline;
    position: relative;
  }
  
  @media (max-width: 800px) {
    .para-style {
      font-size: 1rem;
    }
    .loader-icon {
      height: 100px;
    }
  }
  