@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fc686d;
  font-family: "Poppins", sans-serif;
} */
.background-container {
    max-width: 1660px;
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/food-doodles.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    /* border-radius: 20px; */
  }
  .food-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
  }
  
  .food-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #555;
  }
  
  .next-dish-btn {
    border-radius: 30px;
    font-size: 1rem;
    box-shadow: 0 8px 15px rgba(255, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .next-dish-btn:hover {
    background-color: #e63946;
    box-shadow: 0 12px 25px rgba(255, 0, 0, 0.4);
  }
  
  
  /* Responsive for tablets */
  @media (max-width: 992px) {
    .background-container {
      padding: 15px;
      border-radius: 15px;
    }
  }
  
  /* Responsive for mobile */
  @media (max-width: 576px) {
    .background-container {
      padding: 10px;
      border-radius: 10px;
      height: 100vh;
    }
  }
  
.carousel-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  top: 50px;
}

.carousel-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              box-shadow 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform-origin: top;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-detail {
  padding: 15px 20px;
}

.carousel-detail h3 {
  margin: 0;
  font-size: 15px;
}

.carousel-stars i {
  font-size: 10px;
  color: #fc686d;
}

.carousel-detail p {
  font-size: 13px;
  font-weight: 500;
  color: #868686;
}

.carousel-next {
  position: absolute;
  top: 53%;
  right: 4%;
  font-size: 20px;
  cursor: pointer;
}

.carousel-next i {
  background-color: #fc686d;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
}

.carousel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Fade-in effect when the carousel card loads */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.carousel-card {
  animation: fadeIn 1s ease-out;
}






.btn-dribbble:hover,
.btn-dribbble:focus,
.btn-dribbble:active {
  border-color: #ea4c89 !important;
  background-color: #ea4c89 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(234, 76, 137, 0.8) !important;
}
.btn-dropbox:hover,
.btn-dropbox:focus,
.btn-dropbox:active {
  border-color: #007ee5 !important;
  background-color: #007ee5 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(0, 126, 229, 0.8) !important;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active {
  border-color: #1877f2 !important;
  background-color: #1877f2 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(24, 119, 242, 0.8) !important;
}
.btn-flickr:hover,
.btn-flickr:focus,
.btn-flickr:active {
  border-color: #0063dc !important;
  background-color: #0063dc !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(0, 99, 220, 0.8) !important;
}
.btn-foursquare:hover,
.btn-foursquare:focus,
.btn-foursquare:active {
  border-color: #f94877 !important;
  background-color: #f94877 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(249, 72, 119, 0.8) !important;
}
.btn-gitlab:hover,
.btn-gitlab:focus,
.btn-gitlab:active {
  border-color: #fc6d26 !important;
  background-color: #fc6d26 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(252, 109, 38, 0.8) !important;
}
.btn-github:hover,
.btn-github:focus,
.btn-github:active {
  border-color: #4078c0 !important;
  background-color: #4078c0 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(64, 120, 192, 0.8) !important;
}
.btn-google:hover,
.btn-google:focus,
.btn-google:active {
  border-color: #ea4335 !important;
  background-color: #ea4335 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(234, 67, 53, 0.8) !important;
}
.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active {
  border-color: #ea4c89 !important;
  background-color: #ea4c89 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(64, 93, 230, 0.8) !important;
}
.btn-kickstarter:hover,
.btn-kickstarter:focus,
.btn-kickstarter:active {
  border-color: #2bde73 !important;
  background-color: #2bde73 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(43, 222, 115, 0.8) !important;
}
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active {
  border-color: #0077b5 !important;
  background-color: #0077b5 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(0, 119, 181, 0.8) !important;
}
.btn-medium:hover,
.btn-medium:focus,
.btn-medium:active {
  border-color: #00ab6c !important;
  background-color: #00ab6c !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(0, 171, 108, 0.8) !important;
}
.btn-messenger:hover,
.btn-messenger:focus,
.btn-messenger:active {
  border-color: #0084ff !important;
  background-color: #0084ff !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(0, 132, 255, 0.8) !important;
}
.btn-ok:hover,
.btn-ok:focus,
.btn-ok:active {
  border-color: #ed812b !important;
  background-color: #ed812b !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(237, 129, 43, 0.8) !important;
}
.btn-patreon:hover,
.btn-patreon:focus,
.btn-patreon:active {
  border-color: #f96854 !important;
  background-color: #f96854 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(249, 104, 84, 0.8) !important;
}
.btn-pinterest:hover,
.btn-pinterest:focus,
.btn-pinterest:active {
  border-color: #e60023 !important;
  background-color: #e60023 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(230, 0, 35, 0.8) !important;
}
.btn-product-hunt:hover,
.btn-product-hunt:focus,
.btn-product-hunt:active {
  border-color: #da552f !important;
  background-color: #da552f !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(218, 85, 47, 0.8) !important;
}
.btn-reddit:hover,
.btn-reddit:focus,
.btn-reddit:active {
  border-color: #ff4500 !important;
  background-color: #ff4500 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(255, 69, 0, 0.8) !important;
}
.btn-skype:hover,
.btn-skype:focus,
.btn-skype:active {
  border-color: #00aff0 !important;
  background-color: #00aff0 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(0, 175, 240, 0.8) !important;
}
.btn-slack:hover,
.btn-slack:focus,
.btn-slack:active {
  border-color: #611f69 !important;
  background-color: #611f69 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(97, 31, 105, 0.8) !important;
}
.btn-snapchat:hover,
.btn-snapchat:focus,
.btn-snapchat:active {
  border-color: #fffc00 !important;
  background-color: #fffc00 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(255, 252, 0, 0.8) !important;
}
.btn-stack-overflow:hover,
.btn-stack-overflow:focus,
.btn-stack-overflow:active {
  border-color: #f48024 !important;
  background-color: #f48024 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(244, 128, 36, 0.8) !important;
}
.btn-steam:hover,
.btn-steam:focus,
.btn-steam:active {
  border-color: #00adee !important;
  background-color: #00adee !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(0, 173, 238, 0.8) !important;
}
.btn-telegram:hover,
.btn-telegram:focus,
.btn-telegram:active {
  border-color: #08c !important;
  background-color: #08c !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(0, 136, 204, 0.8) !important;
}
.btn-tiktok:hover,
.btn-tiktok:focus,
.btn-tiktok:active {
  border-color: #fe2c55 !important;
  background-color: #fe2c55 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(254, 44, 85, 0.8) !important;
}
.btn-trip-advisor:hover,
.btn-trip-advisor:focus,
.btn-trip-advisor:active {
  border-color: #00af87 !important;
  background-color: #00af87 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(0, 175, 135, 0.8) !important;
}
.btn-tumblr:hover,
.btn-tumblr:focus,
.btn-tumblr:active {
  border-color: #35465c !important;
  background-color: #35465c !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(53, 70, 92, 0.8) !important;
}
.btn-twitch:hover,
.btn-twitch:focus,
.btn-twitch:active {
  border-color: #9146ff !important;
  background-color: #9146ff !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(145, 70, 255, 0.8) !important;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
  border-color: #1da1f2 !important;
  background-color: #1da1f2 !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(29, 161, 242, 0.8) !important;
}
.btn-vimeo:hover,
.btn-vimeo:focus,
.btn-vimeo:active {
  border-color: #1ab7ea !important;
  background-color: #1ab7ea !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(26, 183, 234, 0.8) !important;
}
.btn-vk:hover,
.btn-vk:focus,
.btn-vk:active {
  border-color: #45668e !important;
  background-color: #45668e !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(69, 102, 142, 0.8) !important;
}
.btn-whatsapp:hover,
.btn-whatsapp:focus,
.btn-whatsapp:active {
  border-color: #128c7e !important;
  background-color: #128c7e !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(18, 140, 126, 0.8) !important;
}
.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active {
  border-color: red !important;
  background-color: red !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(255, 0, 0, 0.8) !important;
}
.btn-zoom:hover,
.btn-zoom:focus,
.btn-zoom:active {
  border-color: #2d8cff !important;
  background-color: #2d8cff !important;
  color: #fff !important;
  box-shadow: 0 0.375rem 1.125rem -0.375rem rgba(45, 140, 255, 0.8) !important;
}
.btn-snapchat:hover,
.btn-snapchat:focus,
.btn-snapchat:active {
  color: #33354d !important;
}
.btn-secondary{
  background-color: #eff2fc;
    border-color: #eff2fc;
    color: #000;
}
.social-carousel {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  padding: 20px 0;
}

.social-slide {
  text-align: center;
  padding: 10px;
  position: relative;
}

.social-slide .btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}

.social-slide h6 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
 
.bx{
  position: relative;
    top: -8px;
}

 