.scroll-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: #198754; /* Bootstrap green */
	color: white;
	border: none;
	padding: 10px 15px;
	font-size: 20px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1000;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	transition: opacity 0.3s ease;
  }
  .scroll-to-top:hover {
	background-color: #145c36;
  }
  
/*-------------------------------------
1.7 Inner Page Bannar Area Styles
---------------------------------------*/
.inner-page-banner-area {
	text-align: left;
	background: url(../src/images/about-bg-image.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: block;
	padding: 86px 0 95px;
  }
  .inner-page-banner-area:after {
	position: absolute;
	content: "";
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
  }
  .inner-page-banner-area .pagination-area {
	position: relative;
	z-index: 1;
  }
  .inner-page-banner-area .pagination-area h2 {
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 48px;
	color: #ffffff;
  }
  @media (min-width: 768px) and (max-width: 991px) {
	.inner-page-banner-area .pagination-area h2 {
	  font-size: 44px;
	}
  }
  @media (min-width: 480px) and (max-width: 767px) {
	.inner-page-banner-area .pagination-area h2 {
	  font-size: 40px;
	}
  }
  @media only screen and (max-width: 479px) {
	.inner-page-banner-area .pagination-area h2 {
	  font-size: 36px;
	}
  }
  .inner-page-banner-area .pagination-area ul li {
	display: inline-block;
	color: #ffffff;
  }
  .inner-page-banner-area .pagination-area ul li a {
	color: #b01403;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
  }
  .inner-page-banner-area .pagination-area ul li a:hover {
	color: #ffffff;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
  }
